* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-image: linear-gradient(rgba(9, 0, 77, 0.65),rgba(9, 0, 77, 0.65)), url(./Background/Background.png);
    background-position: center;
    background-size: cover;
}

.container {
    width: 400px;
    padding: 0px 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    margin: 20px auto;
    /* overflow-y: scroll; */
    border-radius: 10px 60px 30px;
    background: #fff;
}
/* 
form{
    width: 400px;
    height: 100vh;
    overflow: scroll;
} */

h1 {
    font-size: 20px;
    text-align: center;
    margin: 10px 0px;
    text-transform: uppercase;
    color: blue;
    font-weight: bold;
    text-decoration: underline;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="datetime-local"],
input[type="url"],
input[type="search"],
input[type="week"] {
    width: 355px;
    padding: 2px;
    margin: 5px 0px;
    outline: none;
    font-size: 15px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"] {
    border: none;
    border-bottom: 1px solid black;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gender {
    flex-basis: 50%;
}

.row2 {
    display: flex;
    justify-content: space-between;
}

.col-1 {
    margin-right: 20px;
}

.row3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.color{
    flex-basis: 50%;
    margin-top: 10px;
}


input[type="submit"] {
    padding: 6px 30%;
    border-radius: 10px 20px;
    margin-left: 15%;
    margin-bottom: 20px;
    background: blue;
    color: #fff;
    box-shadow: 0 0 20px rgba(226, 230, 9, 0.836);
    outline: none;
    cursor: pointer;
}

